<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="engineConfiguration" class="com.hh.excel.engine.config.EngineConfiguration">
        <property name="configLocation" value="excelMapper.xml"/>

    </bean>

    <bean class="com.hh.excel.engine.core.spring.ExcelEngineFactoryBean" id="excelEngine" />

    <!--二选一-->
    <!--<bean class="com.hh.excel.engine.core.spring.ExcelWebEngineFactoryBean" id="excelWebEngine" />-->

</beans>